In [2]:
import cassandra as cs
from cassandra.cluster import Cluster

In [3]:
cluster = Cluster(['127.0.0.1'])
session = cluster.connect()

NameError: name 'Cluster' is not defined

In [4]:
session.execute("""
CREATE KEYSPACE IF NOT EXISTS udacity
WITH REPLICATION = 
{'class': 'SimpleStrategy', 'replication_factor: 1'}""")

NameError: name 'session' is not defined

In [ ]:
session.set_keyspace('udacity')

In [5]:
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY(year, artist_name))"
session.execute(query)

NameError: name 'session' is not defined

In [6]:
query = "SELECT COUNT(*) FROM music_library"
count = session.execute(query)
print(count.one())

NameError: name 'session' is not defined

In [ ]:
query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + "VALUES (%s, %s, %s)"
session.execute(query, (1970, "The Beatles", "Let It Be"))

In [ ]:
query = "SELECT * FROM music_library WHERE year=1970"
rows = session.execute(query)
print(row.year, row.album_name, row.artist_name)

In [ ]:
session.shutdown()
cluster.shutdown()