In [ ]:
import psycopg2 as pg2

In [ ]:
# define parameters required to connect to PostgreSQL
hostname = 'localhost'
username = 'postgres'
password = 'password'
database = 'udacity' # specify db name if connecting to one
conn = pg2.connect(host=hostname, user=username, password=password, database=database)

In [ ]:
cur = conn.cursor() # create a cursor object

In [ ]:
conn.set_session(autocommit=True) #

In [ ]:
# create a table named "music_library"
create_table = "CREATE TABLE IF NOT EXISTS music_library(\
album_id SERIAL,\
album_name VARCHAR(200),\
artist_name VARCHAR(200),\
year INT,\
songs TEXT[]);"
cur.execute(create_table)

In [ ]:
# insert data into table
cur.execute("INSERT INTO music_library(artist_name, album_name, year, songs)\
VALUES(%s, %s, %s, %s)",\
('Rubber Soul', 'The Beatles', 1965, ['Michelle', 'Think For Yourself', 'In My Life']))

In [ ]:
# insert data into table
cur.execute("INSERT INTO music_library(artist_name, album_name, year, songs)\
VALUES(%s, %s, %s, %s)",\
('Let It Be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe']))

In [ ]:
cur.execute("SELECT * FROM music_library")

In [ ]:
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

In [ ]:
# Create a 1NF Table - no lists/sets/collections, all entries are unique
# create a table named "music_library2"
create_table = "CREATE TABLE IF NOT EXISTS music_library2(\
album_id INT,\
album_name VARCHAR(200),\
artist_name VARCHAR(200),\
year INT,\
song_name VARCHAR(200));"
cur.execute(create_table)

In [ ]:
# insert data into table
cur.execute("INSERT INTO music_library2(album_id, artist_name, album_name, year, song_name)\
VALUES(%s, %s, %s, %s, %s)",\
(1, 'Rubber Soul', 'The Beatles', 1965, 'Michelle'))

cur.execute("INSERT INTO music_library2(album_id, artist_name, album_name, year, song_name)\
VALUES(%s, %s, %s, %s, %s)",\
(1, 'Rubber Soul', 'The Beatles', 1965, 'Think For Yourself'))

cur.execute("INSERT INTO music_library2(album_id, artist_name, album_name, year, song_name)\
VALUES(%s, %s, %s, %s, %s)",\
(1, 'Rubber Soul', 'The Beatles', 1965, 'In My Life'))

cur.execute("INSERT INTO music_library2(album_id, artist_name, album_name, year, song_name)\
VALUES(%s, %s, %s, %s, %s)",\
(2, 'Let It Be', 'The Beatles', 1970, 'Across The Universe'))

cur.execute("INSERT INTO music_library2(album_id, artist_name, album_name, year, song_name)\
VALUES(%s, %s, %s, %s, %s)",\
(2, 'Let It Be', 'The Beatles', 1970, 'Let It Be'))

In [ ]:
cur.execute("SELECT * FROM music_library2")

In [ ]:
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

In [ ]:
# Create 2NF Tables - unique PK
# create a table named "album_library"
create_table = "CREATE TABLE IF NOT EXISTS album_library(\
album_id SERIAL,\
album_name VARCHAR(200),\
artist_name VARCHAR(200),\
year INT);"
cur.execute(create_table)

# create a table named "song_library"
create_table = "CREATE TABLE IF NOT EXISTS song_library(\
song_id SERIAL,\
song_name VARCHAR(200),\
album_id INT);"
cur.execute(create_table)

In [ ]:
# insert data into artist_library table
cur.execute("INSERT INTO album_library(album_name, artist_name, year)\
VALUES(%s, %s, %s)",\
('Rubber Soul', 'The Beatles', 1965))

cur.execute("INSERT INTO album_library(album_name, artist_name, year)\
VALUES(%s, %s, %s)",\
('Let It Be', 'The Beatles', 1970))

# insert data into song_library table
cur.execute("INSERT INTO song_library(song_name, album_id)\
VALUES(%s, %s)",\
('Michelle', 1))

cur.execute("INSERT INTO song_library(song_name, album_id)\
VALUES(%s, %s)",\
('Think For Yourself', 1))

cur.execute("INSERT INTO song_library(song_name, album_id)\
VALUES(%s, %s)",\
('In My Life', 1))

cur.execute("INSERT INTO song_library(song_name, album_id)\
VALUES(%s, %s)",\
('Across The Universe', 2))

cur.execute("INSERT INTO song_library(song_name, album_id)\
VALUES(%s, %s)",\
('Let It Be', 2))

In [ ]:
cur.execute("SELECT * FROM album_library")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print('\n')
    
cur.execute("SELECT * FROM song_library")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

In [ ]:
# Test the created tables using JOIN
cur.execute("SELECT * FROM album_library \
            JOIN song_library \
            ON album_library.album_id = song_library.album_id \
            WHERE album_library.album_id = 1")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

In [ ]:
# Create 3NF Tables - no transitive dependencies
# create a table named "album_library2"
create_table = "CREATE TABLE IF NOT EXISTS album_library2(\
album_id SERIAL,\
album_name VARCHAR(200),\
year INT, \
artist_id INT);"
cur.execute(create_table)

# create a table named "song_library2"
create_table = "CREATE TABLE IF NOT EXISTS song_library2(\
song_id SERIAL,\
song_name VARCHAR(200),\
album_id INT);"
cur.execute(create_table)

# create a table named "artist_library2"
create_table = "CREATE TABLE IF NOT EXISTS artist_library2(\
artist_id SERIAL,\
artist_name VARCHAR(200));"
cur.execute(create_table)

In [ ]:
# insert data into tables - order should be artist_library2, album_library2, song_library2
# because PK IDs are of serial type - should check database after inserting to get
# the FKs in other tables correct
# insert data into artist_library2 table
cur.execute("INSERT INTO artist_library2(artist_name)\
VALUES('The Beatles')")

#insert data into album_library2 table
cur.execute("INSERT INTO album_library2(album_name, year, artist_id)\
VALUES(%s, %s, %s)",\
('Rubber Soul', 1965, 1))

cur.execute("INSERT INTO album_library2(album_name, year, artist_id)\
VALUES(%s, %s, %s)",\
('Let It Be', 1970, 1))

# insert data into song_library2 table
cur.execute("INSERT INTO song_library2(song_name, album_id)\
VALUES(%s, %s)",\
('Michelle', 1))

cur.execute("INSERT INTO song_library2(song_name, album_id)\
VALUES(%s, %s)",\
('Think For Yourself', 1))

cur.execute("INSERT INTO song_library2(song_name, album_id)\
VALUES(%s, %s)",\
('In My Life', 1))

cur.execute("INSERT INTO song_library2(song_name, album_id)\
VALUES(%s, %s)",\
('Let It Be', 2))

cur.execute("INSERT INTO song_library2(song_name, album_id)\
VALUES(%s, %s)",\
('Across The Universe', 2))

In [ ]:
cur.execute("SELECT * FROM album_library2")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print('\n')
    
cur.execute("SELECT * FROM song_library2")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()
    
print('\n')
    
cur.execute("SELECT * FROM artist_library2")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

In [ ]:
cur.execute("SELECT * FROM song_library2 \
            JOIN album_library2 \
            ON song_library2.album_id = album_library2.album_id \
            JOIN artist_library2 \
            ON artist_library2.artist_id = album_library2.artist_id \
            WHERE album_library2.album_id = 1")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()